@use 'sass:color';

@use '@smui/common/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@smui/common/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

@use '@smui/snackbar/style' as smui-snackabar;
@use '@smui/snackbar/styles/mixins' as snackbar;
@use '@smui/icon-button/styles/mixins' as icon-button;

html,
body {
  background-color: #121316;
  color: theme.$on-surface;
  margin: 0;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-snackbar.success {
  @include snackbar.fill-color(color-palette.$green-500);
  @include snackbar.label-ink-color(#fff);
  @include icon-button.ink-color(#fff);
}

.mdc-snackbar.warning {
  @include snackbar.fill-color(color-palette.$orange-500);
  @include snackbar.label-ink-color(#fff);
  @include icon-button.ink-color(#fff);
}

.mdc-snackbar.error {
  @include snackbar.fill-color(color-palette.$red-500);
  @include snackbar.label-ink-color(#fff);
  @include icon-button.ink-color(#fff);
}

.mdc-snackbar.info {
  @include snackbar.fill-color(#42a5f5);
  @include snackbar.label-ink-color(#fff);
  @include icon-button.ink-color(#fff);
}

.search-dropdown {
  background-color: rgb(18, 19, 22);
  box-shadow: 0 4px 10px 0 rgb(0, 0, 0);
  color: rgb(227, 226, 230)
}

.search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: rgba(255, 255, 255, 0.38);
}

.search-select .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(255, 255, 255, 0.38);
}

.search-select .mdc-text-field .mdc-text-field__input {
  caret-color: rgba(255, 255, 255, 0.38);
}
