@use 'sass:color';

@use '@smui/common/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@smui/common/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

html,
body {
  background-color: #121316;
  color: theme.$on-surface;
}

.search-dropdown {
  background-color: rgb(18, 19, 22);
  color: rgb(227, 226, 230)
}

.search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: rgba(255, 255, 255, 0.38);
}

.search-select .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(255, 255, 255, 0.38);
}

.search-select .mdc-text-field .mdc-text-field__input {
  caret-color: rgba(255, 255, 255, 0.38);
}
