@use '@smui/common/theme/color-palette';

// Svelte Colors!
@use '@smui/common/theme/index' as theme with (
  $primary: #42a5f5,
  $secondary: #ba68c8,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

@use '@smui/button/styles/mixins' as button;

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

.mdc-button.mdc-button--raised {
  @include button.ink-color(white);
}

.search-dropdown {
  background-color: rgb(250, 249, 253);
  color: rgb(26, 27, 31);
}

.search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .search-select .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: rgba(0, 0, 0, 0.38)
}

.search-select .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(0, 0, 0, 0.38)
}

.search-select .mdc-text-field .mdc-text-field__input {
  caret-color: rgba(0, 0, 0, 0.38)
}